# Student Performace Analysis

#### Life cycle of machine Learning
- Define a Problem statement 
- Data Collection 
- Data Cleaning and Preprocessing
- Exploratory Data Analysis (EDA) 
- Feature Engineering and Selection 
- Model selection 
- Model Training 
- Model Evaluation and Tuning 
- Model Deployment 
- Model Monitoring and Maintenance

#### 1. Problem Statement 
This project analysis performance of students based on their CGPA and internship and Placed and preidcted their salary based their persent features. 
#### 2. Data Collection 
Data Source: https://www.kaggle.com/datasets/muhamedumarjamil/student-placement-data-with-cgpa-and-salary.

This data consist of 5 columns and 1000 rows
#### 3. import neccessary Libraray

In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt     
import seaborn as sns 
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

Read data from csv file using Pandas libaray

In [6]:
df = pd.read_csv("data\Placement.csv")

Read top 5 rows

In [7]:
df.head()

   Student_ID  CGPA  Internships Placed  Salary (INR LPA)
0           1  7.90            3    Yes             17.63
1           2  7.39            0    Yes             28.37
2           3  8.02            2    Yes              8.95
3           4  8.72            4    Yes             22.59
4           5  7.31            2    Yes             19.67

Shape of Dataset

In [8]:
df.shape

(1000, 5)

#### Data information 
- Student_id:- Unique identity of Each Student 
- CGPA :- Marks and Grade of student in Float pointing number 
- internships :- How many internship done by each students?
- Placed :- Is there student is Placed or not. 
- Salary : This is our target variable.