# Student Performace Analysis

#### Life cycle of machine Learning
- Define a Problem statement 
- Data Collection 
- Data Cleaning and Preprocessing
- Exploratory Data Analysis (EDA) 
- Feature Engineering and Selection 
- Model selection 
- Model Training 
- Model Evaluation and Tuning 
- Model Deployment 
- Model Monitoring and Maintenance

#### 1. Problem Statement 
This project analysis performance of students based on their CGPA and internship and Placed and preidcted their salary based their persent features. 
#### 2. Data Collection 
Data Source: https://www.kaggle.com/datasets/rkiattisak/student-performance-in-mathematics.

This data consist of 5 columns and 1000 rows
#### 3. import neccessary Libraray

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt     
import seaborn as sns 
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

Read data from csv file using Pandas libaray

In [3]:
df = pd.read_csv("data\exams.csv")

Read top 5 rows

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

Shape of Dataset

In [5]:
df.shape

(1000, 8)

#### Data information 
- Student_id:- Unique identity of Each Student 
- CGPA :- Marks and Grade of student in Float pointing number 
- internships :- How many internship done by each students?
- Placed :- Is there student is Placed or not. 
- Salary : This is our target variable.