In [1]:
import statsmodels.api as sm 
import pandas as pd 
from patsy import dmatrices

In [2]:
data = sm.datasets.get_rdataset('Guerry','HistData').data

In [11]:
var = ['Lottery','Department','Literacy','Wealth','Region']
data = data[var]
data[5:10]

   Lottery Department  Literacy  Wealth Region
5       70    Ardeche        27      84      S
6       31   Ardennes        67      33      N
7       75     Ariege        18      72      S
8       28       Aube        59      14      E
9       50       Aude        34      17      S

In [12]:
data = data.dropna()
data[-5:]

    Lottery    Department  Literacy  Wealth Region
80       68        Vendee        28      56      W
81       40        Vienne        25      68      W
82       55  Haute-Vienne        13      67      C
83       14        Vosges        62      82      E
84       51         Yonne        47      30      C